{{ 'tutorial.css' | asset_url | stylesheet_tag }}

<p class='nameColor'> {{ collection.title }} </p>

{% comment %} <script src="{{ 'tutorial.js' | asset_url }}" defer></script> {% endcomment %}

{{ collection.products.first.id }}<br>
{{ collection.products.first.available }}<br>
{{ collection.products.first.handle }}<br>
{{ collection.products.first.published_at }} <br>
{{ collection.products.first.vendor }} <br>
{{ collection.products.first.images.first }} <br>
{{ collection.products.first.price | money }} <br>
{% for tag in collection.products.tags %} 
    <p>- {{ tag }}</p>
{% endfor %}
{% if collection.products.first.featured_image %}
    {{ collection.products.first.featured_image | image_url: width: 500, height: 500 | image_tag }}
{% endif %}
<img class='nyear' src="{{ 'new.jpg' | asset_img_url: '200x300' }}" alt="new year" loading="eager" width='200' height='300'>


{% comment %} 
{% for collection in collections %}
    {{- collection.title | link_to: collection.url }}
  {% endfor %} {% endcomment %}

  {% for product in collections['Hydrogen'].products %}
    {{- product.title | link_to: product.url }}
  {% endfor %}